#intro{
  background-image: url("../assets/images/Background_Intro.jpg");
  background-size: cover;

  div{
    position: relative;
    width: 112px;
    height: 112px;
  
    img{
      width: 87.27px;
      height: 87.27px;
      border-radius: 50%;
      margin: auto;
      
      
    }
    &::before{
        content: "";
        position: absolute;
        width: 96px;
        height: 96px;
        border: 2px solid var(--color-red);
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    &::after{
      position: absolute;
      content: url("../assets/icons/Tag.svg");
      width: 32px;
      width: 32px;
      bottom: 2px;
      right: 2px;
    }
  
  }

  header{
    width: 680px;
    margin-top: 56px;
    display: block;
    justify-items: center;

    h1{
      padding-block: 8px 20px;
    }
  }

  ul{
   margin-block: 80px 94px;
    column-gap: 16px;

    li{
      background-color: var(--color-gray-300);
      border-radius: 20px;
      padding: 8px 16px;
    
    }
  }
  #down-icon{
    width: 32px;
    margin-bottom: 57px;
  }
}

#projects{
  background-color: var(--color-gray-200);
  padding: 72px 120px 144px 120px;

  header{
    row-gap: 8px;
  }

  nav{
    margin-top: 56px;
    gap: 24px;
    max-width: 1040px;
    margin-inline: auto;

    figure{
      width: 330px;
      height: 280px;
      background-color: var(--color-gray-300);
      border-radius: 8px;
      padding: 12px;
      box-sizing: border-box;

      img{
        border-radius: 8px;
        margin-bottom: 24px;
        width:306px;
        height: 156px;
      }
      figcaption{
        padding: 4px;
        
        p{
            margin-top: 8px;
        }
      } 
    }
    
    figure:hover{
      border: 1.5px solid var(--color-gray-400) ;
      cursor: pointer;
    }

  }
}